a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.suche {
    background: #D9D9D9;
    border-radius: 20px;
    color: white;
    width: 100%;
}

.flex.justify-between.collapse.navbar-collapse {
    justify-content: center;
}